@import "tailwindcss";

@theme {
  --color-primary: #0d2d7a;
  --color-primary-container: #2b4592;
  --color-on-primary: #ffffff;
  --color-primary-fixed-dim: #b5c4ff;
  --color-secondary: #515f76;
  --color-secondary-container: #d2e0fc;
  --color-on-secondary-container: #55637b;
  --color-surface: #faf8ff;
  --color-surface-container-low: #f4f3fa;
  --color-surface-container: #eeedf4;
  --color-surface-container-high: #e9e7ef;
  --color-surface-container-highest: #e3e1e9;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #1a1b20;
  --color-on-surface-variant: #444651;
  --color-outline: #757682;
  --color-outline-variant: #c5c6d3;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-tertiary-container: #763a00;
  --color-tertiary-fixed: #ffdcc5;
  --color-on-tertiary-fixed-variant: #713700;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: var(--font-headline);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  user-select: none;
}
